.sidenav {
    background-color: #3F51B5; /*cor do fundo da navbar*/
    width: 200px; /*largura da navbar*/
}

.sidenav a {
    color: #FFF; /*cor da fonte*/
}

.sidenav i {
    padding-right: 10px; /*espaçamento entre o icone e o titulo*/
}

/*estilizando o conteudo*/
.content {
    padding: 16px;
    background-color: #fff;
}